

.image1{
        width: 500px;
        height: 400px;
        margin: 15px;
        margin-top: -1150px;
        justify-content:flex-end;
        justify-content: flex-start;
        position:relative;
        flex-direction:row;
        transform: rotate(160deg);
        transform-origin: center;
        float: right;
        margin-left: -100px;
        opacity: 60%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%); 
        z-index: 3;
    }
    
    .image2{
        width: 800px;
        height: auto;
        margin: 900px;
        justify-content:right;
        position: absolute;
        opacity: 70%;
        margin-left: -120px;
        clip-path: polygon(25% 0%, 80% 0%, 70% 80%, 0% 50%); 
        margin-top: -1080px;
        transform: rotate(40deg);
        z-index: 1;
        filter: brightness(70%) contrast(85%);
    }
    
    .image3{
        width: 600px;
        height: auto;
        display: block; 
       margin-top: -800px;
        opacity: 0.4;
        filter: brightness(70%) contrast(120%);
        position: relative;
        flex-direction:row;
        transform: rotate(80deg);
        transform-origin: center;
        float: right;
        margin-left: 100px;
        clip-path:polygon(5% 0%, 80% 0%, 70% 80%, 0% 50%)
        
    
    
    }
    
    .image4{
        width: 700px;
        height: auto;
        display:flex; 
        opacity: 0.5;
        filter: brightness(80%) contrast(100%);
        position:relative;
        flex-direction:column-reverse;
        transform-origin: center;
        align-items: end;
        float: right;
        margin-left: -150px;
        margin-top: -850px;
        clip-path: polygon(60% 0%, 100% 28%, 82% 100%, 18% 100%, 0% 38%);
        transform: rotate(20deg);
    
    }
    
    .image5{
      
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: 700px;
        height: auto;
        display:flex; 
        opacity: 0.4;
        filter: brightness(60%) contrast(70%);
        position:relative;
        flex-direction:row;
        transform: rotate(70deg);
        transform-origin: center;
        float: right;
        margin-left: 50px;
        margin-top:-620px;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        z-index: 1;
    }
    
    
    .image6{
        width: 700px;
        height: auto;
        display:flex;  
        opacity: 0.6;
        filter: brightness(80%) contrast(100%);
        position:absolute;
        flex-direction:column-reverse;
        transform: rotate(120deg);
        transform-origin:200px;
        align-items: end;
        float: right;
        margin-left: 100px;
        margin-top: 400px;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        z-index: 3;
    }
    
    .image7{
        width: 640px;
        height:auto;
        margin-top: -380px;
        justify-content:flex-end;
        position:relative;
        flex-direction:row;
        transform: rotate(170deg);
        transform-origin: center;
        margin-left: -10px;
        opacity: 70%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%); 
        filter: brightness(70%);
    
    }
    .image8{
        width: 800px;
        height: auto;
        margin: 900px;
        justify-content:center;
        position: absolute;
        opacity: 40%;
        margin-left: 700px;
        margin-top: -30px;
        clip-path: polygon(25% 0%, 80% 0%, 70% 80%, 0% 50%); 
        transform:rotate (30deg)
       
    }

 
     .image9{ 
        width: 800px;
        height: auto;
        margin: 900px;
        justify-content:right;
        position: absolute;
        opacity: 70%;
        margin-left: 650px;
        clip-path: polygon(25% 0%, 80% 0%, 70% 80%, 0% 50%); 
        margin-top: 1450px;
        transform: rotate(40deg);
        z-index: 1;
        filter: brightness(40%) contrast(65%);
    }


 
body{
    background-color: rgb(0, 0, 0);

    
}


h1{ 
    font-size: 100px;
    font-weight:lighter;
    font-display: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 42px;
    color:rgba(92, 25, 25, 0.864);
}

@keyframes changeColor {
    0% { color: red; }
    25% { color: green; }
    50% { color: blue; }
    75% { color: orange; }
    100% { color: purple; }
  }
  
  
  .h1{
    animation: changeColor 0.5s linear infinite;
  }


h3{
    font-size: 30px;
    font-weight:normal;
    font-display: right;
    font-family:'Courier New', Courier, monospace;
    color:rgb(211, 212, 207);
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;

}

.rectangle{
    width: 1450px;
    height: 250px;
    background-color: rgba(121, 17, 17, 0.5);
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}



.unique-rectangle{
    width:max-content;
    height: 550px;
    background-color: rgba(40, 46, 156, 0.5);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;

}



.rectangle2{
    width: fit-content;
    height: 250px;
    background-color: rgba(121, 17, 17, 0.5);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight:normal;

}


.rectangle3{
    width:700px;
    height: 150px;
    background-color: rgba(209, 207, 197, 0.625);
    margin-top: 5px;
    margin-left: 400px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(121, 17, 17, 0.5);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:200;

}

#randomPageButton:hover {
    color: #141414;
    font-size: 180%;
    transition: font-size 1.5s;
    orientation: 200%
    transition: size-adjust 1.5s;

}

.unique-rectangle:hover{
    background-color: rgba(168, 139, 9, 0.901);
    transition: background-color 0.5s;
    
}

.rectangle:hover{
    background-color: rgba(168, 139, 9, 0.901);
    transition: background-color 0.5s;
    font-weight: 300;
}


.rectangle2:hover{
    background-color: rgba(168, 139, 9, 0.901);
    transition: background-color 0.5s;
}

.rectangle3:hover {
    background-color:rgba(168, 139, 9, 0.901);
    color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.5s;
}

@keyframes blink {
    0% { opacity: 0; } 
    50% { opacity: 1; } 
    100% { opacity: 0; } 
  }
  

  .blinking-text {
    animation: blink 2s linear infinite;
}

.color-changing-text {
    color: rgba(121, 17, 17, 0.5);
    transition: color 0.5s;
  }
  

  .color-changing-text:hover {
    color:rgba(154, 144, 7, 0.778);
    cursor:auto;
  }


#randomPageButton{
    width:400px;
    height: 400px;
    background-image: url('colorwhill3.gif');
    background-size:50vmax;
    background-position:center, 
    margin-top: 5px;
    margin-left: 500px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(194, 190, 190);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    border: none;
    border-radius: 50%;
}
  