.collage-container {
    width: 100%;
    transform: scale(1.0);
}

.image1{
    width: 400px;
    height: auto;
    margin: 15px;
    justify-content:flex-end;
    justify-content: flex-start;
    position:relative;
    transform: rotate(160deg);
    transform-origin: center;
    float: right;
    margin-left: 10px;
    margin-top: 2px;
    opacity: 60%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%); 
   
}


.image2{
    width: 800px;
    height: auto;
    justify-content:right;
    position: absolute;
    opacity: 70%;
    margin-left: 20px;
    clip-path: polygon(25% 0%, 80% 0%, 70% 80%, 0% 50%); 
    margin-top: 320px;
}

.image3{
    width:700px;
    height: auto;
    margin: 100px;
    display: block; 
    margin: 0; 
    opacity: 0.7;
    filter: brightness(80%) contrast(80%);
    position: relative;
    flex-direction:row;
    transform: rotate(170deg);
    transform-origin: center;
    float: right;
    margin-left: 200px;
    clip-path:polygon(30% 0%, 80% 0%, 40% 90%, 0% 80%)
    
}


.image4{
    width: 700px;
    height: auto;
    display:flex; 
    opacity: 0.4;
    filter: brightness(150%) contrast(100%);
    position:relative;
    flex-direction:column-reverse;
    transform-origin: center;
    align-items: end;
    float: right;
    margin-left: 30px;
    clip-path: polygon(50% 0%, 100% 80%, 82% 100%, 18% 50%, 0% 38%);
    transform: rotate(20deg);

    
}

.image5{
  

    width: 700px;
    height: auto;
    display:flex; 
    margin: 4000; 
    opacity: 0.4;
    filter: brightness(150%) contrast(100%);
    position:relative;
    flex-direction:row;
    transform: rotate(180deg);
    transform-origin: center;
    float: right;
    margin-left: 10px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
   
}


.image6{
    width: 800px;
    height: auto;
    display:flex;  
    opacity: 0.4;
    filter: brightness(150%) contrast(100%);
    position:absolute;
    flex-direction:column-reverse;
    transform: rotate(200deg);
    transform-origin:200px;
    align-items: end;
    float: right;
    margin-left: 100px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.image7{
    width: 800px;
    height: auto;
    margin: 900px;
    justify-content:center;
    position: absolute;
    opacity: 40%;
    margin-left: 700px;
    clip-path: polygon(25% 0%, 80% 0%, 70% 80%, 0% 50%); 
    transform:rotate(10deg)
}
body{
    background-color: rgb(23, 22, 22);
    
}

h1{
    font-size:100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: expanded;
    color:rgba(74, 74, 77, 0.813);
    position:fixed;
    margin-top: 40px;
    margin-left: 100px;
    z-index: 1;
}
.rectangle{
    width: 1100px;
    height:900px;
    background-color: rgba(0, 0, 0, 0.373);
    margin-left: 150px;
    margin-top: 100px;
    text-align: center, ;
    color: antiquewhite;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    z-index: 2;
    letter-spacing: 1px;
    line-height: 20px;

}
.rectangle:hover{
    background-color: rgba(0, 0, 0, 0.564);
    transition: background-color 0.3s;


}

@media (max-width: 414px) {
   
    .rectangle {
      width: 300%;
      height: 2000px; 
    }

.collage-container{
 width: 500%;
 height: auto;
}
}

.upside-down-text {
    transform: rotate(180deg);
    font-size: 100%;
}

@media (max-width: 768px) {
    .rectangle {
        font-size: 1rem;
    }
} 

@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
}

.back-button{
   
    position: relative;
    margin-left: 1000px;
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(108, 108, 169, 0.734);
    padding: 6px;
    font-size: 30px;
    text-align: center;

   
}

#randomPageButton{
    width:400px;
    height: 400px;
    background-image: url('colorwhill3.gif');
    background-size:50vmax;
    background-position:center;
    margin-left: 500px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(194, 190, 190);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    border: none;
    border-radius: 50%;
}
  
#randomPageButton:hover {
    color: #141414;
    font-size: 180%;
    transition: font-size 1.5s;
    orientation: 200%
    transition size-adjust 1.5s;

}
