.image1{
    width: 400px;
    height: 400px;
    margin: 15px;
    margin-top: 250px;
    justify-content:flex-end;
    justify-content: flex-start;
    position:relative;
    flex-direction:row;
    transform: rotate(160deg);
    transform-origin: center;
    float: right;
    margin-left: 10px;
    opacity: 60%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%); 
    
}

.image2{
    width: 800px;
    height: auto;
    margin: 900px;
    justify-content:right;
    position: absolute;
    opacity: 70%;
    margin-left: 20px;
    clip-path: polygon(25% 0%, 80% 0%, 70% 80%, 0% 50%); 
    margin-top: 1000px;
    transform: rotate(40deg);
   
}

.image3{
    width: 300px;
    height: auto;
    margin: 100px;
    display: block; 
   margin-top: -300px;
    opacity: 0.1;
    filter: brightness(70%) contrast(120%);
    position: relative;
    flex-direction:row;
    transform: rotate(80deg);
    transform-origin: center;
    float: right;
    margin-left: 90px;
    clip-path:polygon(30% 0%, 80% 0%, 40% 90%, 0% 80%)
  
}


.image4{
    width: 700px;
    height: auto;
    display:flex; 
    opacity: 0.4;
    filter: brightness(100%) contrast(80%);
    position:relative;
    flex-direction:column-reverse;
    transform-origin: center;
    align-items: end;
    float: right;
    margin-left: -80px;
    margin-top: -450px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(20deg);
   
    
}

.image5{
  
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 700px;
    height: auto;
    display:flex; 
    margin: 4000; 
    opacity: 0.4;
    filter: brightness(80%) contrast(70%);
    position:relative;
    flex-direction:row;
    transform: rotate(180deg);
    transform-origin: center;
    float: right;
    margin-left: 10px;
    margin-top: -80px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
   
}


.image6{
    width: 600px;
    height: auto;
    display:flex;  
    opacity: 0.4;
    filter: brightness(150%) contrast(100%);
    position:absolute;
    flex-direction:column-reverse;
    transform: rotate(110deg);
    transform-origin:200px;
    align-items: end;
    float: right;
    margin-left: 100px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
   
}

.image8{
    width: 800px;
    height: auto;
    margin: 900px;
    justify-content:center;
    position: absolute;
    opacity: 40%;
    margin-left: 700px;
    margin-top: 1150px;
    clip-path: polygon(25% 0%, 80% 0%, 70% 80%, 0% 50%); 
    transform:rotate(190deg)
   
}
body{
    background-color: rgb(14, 73, 21);
    
}

h1{
    font-size:100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: expanded;
    color:rgba(50, 120, 59, 0.734);
    position:fixed;
    margin-top: 40px;
    margin-left: 100px;
   
}


.image9{
    width: 640px;
    height: 400px;
    margin: 15px;
    margin-top: -90px;
    justify-content:flex-end;
    justify-content: flex-start;
    position:relative;
    flex-direction:row;
    transform: rotate(160deg);
    transform-origin: center;
    float: right;
    margin-left: 10px;
    opacity: 60%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%); 
   
    filter: brightness(80%);
}

.rectangle{
    width: 1100px;
    height:1100px;
    background-color: rgba(79, 110, 90, 0.403);
    margin-left: 200px;
    margin-top: 100px;
    text-align: center, ;
    display: fixed;
    color: antiquewhite;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
   
    letter-spacing: 1px;
    line-height: 20px;

}
.rectangle:hover{
    background-color: rgba(22, 49, 21, 0.709);
    transition: background-color 0.3s;


}
@media (max-width: 414px) {
   
    .rectangle {
      width: 300%;
      height: 2000px; 
    }

.collage-container{
 width: 500%;
 height: auto;
}
}

.back-button{
   
    position: relative;
    margin-left: 1000px;
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(31, 48, 30, 0.734);
    padding: 6px;
    font-size: 30px;
    text-align: center;

   
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinning-text {
    font-size: 60px;
    display: inline-block; /* Ensures the text rotates in place */
    animation: spin 2s linear infinite; /* 2s duration, linear timing, infinite loop */
}

#randomPageButton:hover {
    color: #141414;
    font-size: 180%;
    transition: font-size 1.5s;
    orientation: 200%
    transition size-adjust 1.5s;

}

#randomPageButton{
    width:400px;
    height: 400px;
    background-image: url('colorwhill3.gif');
    background-size:50vmax;
    background-position:center;
    margin-left: 500px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(194, 190, 190);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    border: none;
    border-radius: 50%;
}
  